body {
  background-color: #f0e195;
  font-family: "Tomorrow", sans-serif;
}

a {
  color: #9d5087;
}

.app-background {
  background-color: #ff8989;
  margin: 100px auto;
  max-width: 575px;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
}

header {
  padding: 0 0 30px 0;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  font-size: 15px;
}

.submit-form {
  background-color: #c2f8ed;
  border: none;
  border-radius: 5px;
  padding: 15px 24px;
  font-size: 15px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.heading {
  margin: 0;
  font-size: 29px;
  line-height: 20px;
}

.weather-details {
  font-size: 14px;
  line-height: 20px;
}

.weather-details strong {
  color: #793a77;
}

.current-weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.current-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-temperature-icon {
}

.current-temperature-value {
  font-size: 60px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
}

.forecast {
  display: flex;
  justify-content: space-around;
}

.forecast-day {
  text-align: center;
  color: #fbee69;
  font-size: 14px;
  line-height: 20px;
}

.forecast-emoji {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.forecast-temperatures {
  display: flex;
  text-align: center;
  color: #f0e195;
  font-size: 14px;
  justify-content: center;
}

.forecast-temp {
  padding: 0 8px;
}

footer {
  padding: 30px 0 0 0;
  font-size: 12px;
  text-align: center;
  color: #c2f8ed;
}
